@import "theme_variables.css";
@import "media-queries.css";

body {
  color: #212121;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

.main-app-div,
.root-content {
  height: 100vh;
  width: 100vw;
}

.root-content {
  display: flex;
  flex-direction: column;

  .main-header {
    background-color: var(--white);
    height: 70px;
    align-items: center;
    display: flex;
    padding: 0 10px;
    .main-title {
      font-size: 1.5em;
      color: var(--black);
    }
    .main-header-right {
      margin-left: auto;
    }
  }

  .main-nav {
    background-color: var(--bg-alt);
    width: 200px;
  }

  .main-center {
    flex: 1;
    display: flex;
    align-items: stretch;
  }

  .main-content {
    background-color: var(--bg);
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 10px;
  }

  @media (--desktop) {
    /*.main-content {*/
      /*margin-left: 100px;*/
    /*}*/

    .main-title {
      margin-left: 20px;
    }
  }

  .main-footer {
    background-color: var(--white);
    color: var(--accent);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


