/*Extra small devices (portrait phones, less than 576px)*/
@custom-media --phone (width < 576px);

/*// Small devices (landscape phones, 576px and up)*/
@custom-media --large-phone-tablet (width <= 768px);

/*// Medium devices (tablets, 768px and up)*/
@custom-media --tablet (width <= 992px);

/*// Large devices (desktops, 992px and up)*/
@custom-media --desktop (width > 992px);

@media (--tablet){
  .large-only {
    display: none !important;
  }
}

@media (--desktop){
  .small-only {
    display: none !important;
  }
}