:root {
  --bg        : #f9eed3;
  --bg-alt    : #f7e6c4;
  --fg        : #056839;
  --fg-bold   : #200040;
  --fg-light  : #f7941e;
  --border    : rgba(160,160,160,0.3);
  --border-bg : rgba(160,160,160,0.075);
  --border-alt: rgba(160,160,160,0.65);
  --accent    : #056839;
  --dark      : #4e2e2e;
  --white     : #FFF;
  --black     : #191818;
}
